<p>space</p>
<p>space</p>
<div class="panel panel-default">
    <div class="container">
      <p class="container">
        <div class="col-md-4">
  <h4>Building Wealth</h4>
  <ul>
    <li><a href=http://www.ccsales.com/the_richest_man_in_babylon.pdf>George Clason - The Richest Man in Babylon</a></li>
    <li><a href="url">link text</a></li>
    <li><a href="url">link text</a></li>
    <li><a href="url">link text</a></li>
    <li><a href="url">link text</a></li>
    <li><a href="url">link text</a></li>
  </ul>
    
  <h4>Building Mind</h4>
  <ul>
    <li><a href=http://www.orators.org.uk/wp-content/uploads/2009/02/carnegie_artofpublicspeaking.pdf>Dale Carnegie - The Art of Public Speaking</a></li>
    <li><a href="url">link text</a></li>
    <li><a href="url">link text</a></li>
    <li><a href="url">link text</a></li>
    <li><a href="url">link text</a></li>
    <li><a href="url">link text</a></li>
  </ul>

  <h4>Building Body</h4>
  <ul>
    <li><a href=http://healthychristianliving.com/liver_cleanse.htm>Healthy Christian Living - Liver Detox</a></li>
    <li><a href="url">link text</a></li>
    <li><a href="url">link text</a></li>
    <li><a href="url">link text</a></li>
    <li><a href="url">link text</a></li>
    <li><a href="url">link text</a></li>
  </ul>
</div>
</div>
</div>
</div>
