
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="" contenteditable="false"></li>
    <li data-target="#myCarousel" data-slide-to="1" class="active" contenteditable="false"></li>
    <li data-target="#myCarousel" data-slide-to="2" class="" contenteditable="false"></li>
  </ol>
  <div class="carousel-inner">
        <div class="item" style="">
            <img src="https://www.truthforlife.org/static/uploads/Risen_2880x1800.jpg" alt="" class="">
            <div class="carousel-caption">
                <h4 class="">First Slide Title</h4>
                <p class="">
                   Description for First Slide, this First Slide.
                </p>
            </div>
        </div>
        <div class="item active">
            <%=image_tag("biz.png", alt: "Example Image")%>
            <div class="carousel-caption">
                <h4 class="">Reetche Your Goals</h4>

                <p class="">
                  
                </p>
            </div>
        </div>
        <div class="item" style="">
            <img src="http://www.causeheroes.org/wp-content/uploads/2014/09/Nakheel-1200x400.jpg" alt="" class="">
            <div class="carousel-caption">
                <h4 class="">Third Slide Title</h4>

                            <p class="">
                   Description for Third Slide, this is Third Slide.
                </p>
            </div>
        </div>
    </div>    

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>


</div>

<p class = "container">  </p>
<p class = "container">  </p>

<div class="panel panel-default">
<div class="container">
<p class="container">
  <div class="col-md-6">
  <p></p>
  The <strong>median</strong> income in the United States is approximately <strong>$52,000</strong>.
  Yet the cost of living in the US for a single adult with no children is
  <strong>$28,474</strong>. Furthermore, this number practically doubles for married couples with one
  child. After federal and income taxes, the average individual is left with less than $5,000 in savings per year. Inflation 
  is expected to increase and unexpected expenses can also make it imposssible to save even a few hundred dollars per year. This is the reason why I started
  Reetche.com. I saw a lot of people, especially myself, struggling to create wealth, and felt responsible to help solve
  this crisis. Everything on this website is free, so please feel free to add some of your info below, and begin Reetching 
  your goals today. 
</p>

<p class="container">
<%= link_to 'Sign up', new_reetcher_path %>
</p>
</div>

<div class="container">
<div class="row">
  <div class="col-md-6">
    <p class="container">
    <p></p>
    <ul>
    <li>The estimated amount of Americans, earning the minimum wage or less -> <strong>3 million</strong></li>
    <li>Aggregate student loan debt (USA) amongst 40 million borrowers -> <strong>$1.3 Trillion</strong> </li>
    <li>Middle class Americans have decreased by <strong>61%</strong> since 1971</li>
    <li>The average paid for credit card debt (interest payments) per year in USA -> <strong>$1,200</strong> </li>
    <li>The total amount of American citizens living below the poverty line -> <strong> 45 million + </strong></li>
    <li>Approximate aggregate mortgage debt (USA) -> <strong>$8 Trillion</strong></li>
    <li>The percentage of American adults (18+) with a total of $0 in savings <strong>25%</strong></li>
    
    </ul>
    
   </p>
  </div>
</div>
</div>
</div>
</div>
